@import "../../../sass/mixins.scss";

.genres {
  margin: 30px 20px;
  display: flex;
  flex-direction: column;
  @include media(laptop) {
    margin: 30px 50px 0 50px;
    flex-wrap: wrap;
  }
  .title {
    font-family: "Poppins-extrabold";
    font-size: 1.1rem;
    @include media(laptop) {
      font-size: 1.6rem;
    }
  }
  .all_infos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @include media(laptop) {
      justify-content: flex-start;
    }
    .infos {
      background-color: #a51a1a;
      padding: 5px 0px;
      text-align: center;
      width: 100px;
      border-radius: 20px;
      cursor: pointer;
      margin-top: 20px;
      margin-right: 10px;
      @include media(laptop) {
        width: 130px;
        margin-right: 20px;
      }
      h3 {
        font-family: "Poppins-semibold";
        font-size: 0.7rem;
        color: #efefef;
        @include media(laptop) {
          font-size: 0.8rem;
        }
      }
    }
  }
  .movie_by_genre {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    .movie {
      .container_img {
        width: 250px;
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        border-radius: 10px 10px 0 0;
      }
      .container_title {
        width: 250px;
        margin-bottom: 20px;
        margin-right: 20px;
        padding: 10px;
        background: black;
        color: white;
        border-radius: 0 0 10px 10px;
        .movie_title {
          font-size: 1em;
          font-family: "Poppins-bold";
        }
        .movie_rated {
          font-size: 0.9em;
          font-family: "Poppins-extrabold";
          span {
            font-family: "Poppins-semibold";
          }
          .note {
            font-family: "Poppins-extrabold";
          }
        }
      }
    }
  }
}
