@import "../../../sass/mixins.scss";

.genres {
  margin: 30px 20px;
  display: flex;
  flex-direction: column;
  @include media(laptop) {
    margin: 30px 50px 0 50px;
    flex-wrap: wrap;
  }
  .title {
    font-family: "Poppins-extrabold";
    font-size: 1.1rem;
    @include media(laptop) {
      font-size: 1.6rem;
    }
  }
  .all_infos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .infos {
      background-color: #a51a1a;
      padding: 5px 0px;
      text-align: center;
      width: 100px;
      border-radius: 20px;
      cursor: pointer;
      margin-top: 20px;
      @include media(laptop) {
        width: 130px;
        margin-top: 20px;
        margin-right: 10px;
      }
      h3 {
        font-family: "Poppins-semibold";
        font-size: 0.7rem;
        color: #efefef;
        @include media(laptop) {
          font-size: 0.8rem;
        }
      }
    }
  }
}
