@import "../../../../sass/mixins.scss";

.categories_movies {
  margin: 30px 20px;
  display: flex;
  flex-direction: column;
  @include media(laptop) {
    margin: 30px 50px 0 50px;
    flex-wrap: wrap;
  }
  .title {
    font-family: "Poppins-extrabold";
    font-size: 1.1rem;
    @include media(laptop) {
      font-size: 1.6rem;
    }
  }
  .all_infos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    .container_img {
      width: 250px;
      height: 250px;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      border-radius: 10px 10px 0 0;
    }
    .container_title {
      width: 250px;
      margin-bottom: 20px;
      padding: 10px;
      background: black;
      color: white;
      border-radius: 0 0 10px 10px;
      .movie_title {
        font-size: 1em;
        font-family: "Poppins-bold";
      }
    }
  }
}
